/**IMAGES RESPONSIVE SIZING**/
img[src*="keyboard"]{
	max-width: 100%;
}

img[src*="mycar"]{
	max-width: 95%;
	align-self:auto;
	margin-left: 20px;
}

img[src*="code"]{
	max-width: 95%;
	align-self:auto;
}

img[src*="sunset"]{
	max-width: 95%;
	align-self:auto;
	margin-left: 10px;
}

img[src*="rocky"]{
	max-width: 150px;
	max-height: 150px;
	border-radius: 50%;
}
/**PAGE STYLING*****************************/
#logo{
	align-self: center;	
}

#title{
	align-self:center;
	text-align: end;
}

#header{
	border-bottom: 4px solid #bcbbbb;
	padding-top: 10px;
	padding-bottom: 20px;
}

h1{
	font-weight: lighter;
	font-size: 46px;
}

h3{
	text-align: center;
}