/**IMAGES RESPONSIVE SIZING**/
img[src*="keyboard"]{
	max-width: 100%;
}

img[src*="mycar"]{
	max-width: 95%;
	align-self:auto;
	margin-left: 20px;
}

img[src*="code"]{
	max-width: 95%;
	align-self:auto;
}

img[src*="sunset"]{
	max-width: 95%;
	align-self:auto;
	margin-left: 10px;
}

img[src*="rocky"]{
	max-width: 145px;
	max-height: 140px;
	border-radius: 50%;
	padding-left: 5px;
}
/**PAGE STYLING*****************************/
#logo{
	align-self: center;	
}

#title{
	align-self:center;
	text-align: end;
}

#header{
	border-bottom: 4px solid #bcbbbb;
	padding-top: 10px;
	padding-bottom: 20px;
	line-height: 0.8em;
}

h1{
	color: #bcbbbb;
	font-weight: 300;
	font-size: 56px;
}

h2{
	 color: #bcbbbb;
	 font-weight: 600;
	 font-size: 20px
}

#workTitle{
	font-size: 25px;
}

h3{
	color: #747704;
	text-align: center;
	font-weight: 500;
	font-size: 27px;
	line-height: 0.1em
}